header img{
    max-width: 300px;
}

header nav{
    background-color: green;
}
li a:hover {
    background-color: #CBFFE2;
    color: black
  }

footer{
    background-color: #343a40;
    color: white;
    font-size: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;

}
footer a{
    text-decoration: none;
    color: white;
    
}
.button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover{
    background-color:#CBFFE2;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    
  
}
  
th {
    padding: 5px;
    text-align: center;
    color: white ;
    font-size: 12px;
  
    
}
td{
    margin: 0;
    padding: 0;
    text-align: center;
}

.color2{
    border: 2px solid black;
    border-radius: 8px;
    margin: 10px;
}