{% extends "base_generic.html" %}
{% block content %}
<h3>Sobre nosotros</h3>
                     <p>
                       Clínica Dávila es uno de los principales centros privados hospitalarios del país, orientado a satisfacer las necesidades de salud de las personas, para lo que cuenta con todas las especialidades médicas y unidades de tratamiento intensivo e intermedio, para pacientes adultos, infantiles y recién nacidos.

                       Ubicada en Avda. Recoleta 464, anualmente realiza más de 650.000 consultas médicas, 80.000 consultas de urgencia, 38.000 intervenciones, 27.000 cirugías, 37.000 hospitalizaciones y 6.000 partos, brindando atención integral a sus pacientes durante toda su estadía.

                       Actualmente cuenta con 502 camas, 20 pabellones centrales, 5 pabellones de maternidad, 2 de hemodinamia y 1 pabellón de neurocirugía con la más alta tecnología que existe en Chile para tratar patologías del cerebro (Gamma Knife Perfexion).

                       En su constante esfuerzo por estar más cerca de las personas, Clínica Dávila ha desarrollado diversos programas y convenios con Fonasa e Isapres, apoyándose siempre en sus profesionales altamente capacitados y con larga experiencia, apoyados con la mejor tecnología para brindar toda la confianza y el respaldo para sus pacientes.

                       Clínica Dávila es además campo clínico de diversos profesionales del área de la salud, apoyando la formación de universitarios que están en permanente trabajo con especialistas de la clínica.
                     </p>
                     <a class="button" href="Pidetuhora.html">Pide tu hora aquí</a>
                     </div> 

                     <div class="col-sm-1">
                        % load static %} <img src="{% static 'clinica/images/Clinicadavilainicio.PNG' %}" alt="clinicadavila" class="img-responsive"/>
                     </div>

{% endblock %}